<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div class="jumbotron" *ngIf="ingredients.length === 0">
      <p class="lead text-center">
        Create a shopping list, or add ingredients directly from a selected recipe
      </p>
    </div>
    <ul class="list-group">
      <a 
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>